/* 浮动效果 */
@keyframes animation1 {
  0% {
    transform: translate(0, -5px);
  }
  25% {
    transform: translate(0, -15px);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, -5px);
  }
}
